<nav class="navbar">
    <a href="/" class="navbar-link">Home</a>
    <% if(user) { %>
        <a href="/users/<%= user._id %>/blogs" class="navbar-link">My Blogs</a>
        <a href="/users/<%= user._id %>/new" class="navbar-link">Create a new Blog</a>
        <a href="/auth/sign-out" class="navbar-link">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in" class="navbar-link">Sign In</a>
        <a href="/auth/sign-up" class="navbar-link">Sign Up</a>
    <% } %>
</nav>
