<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Blog</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../partials/_navbar') %>

    <div class="container">
        <h1 class="heading">Create a New Blog!</h1>
        
        <form action="/users/<%= user._id %>/blogs" method="POST" class="form">
            <label for="title" class="form-label">Blog Title:</label>
            <input type="text" name="title" id="title" required class="input-field">
        
            <label for="content" class="form-label">Content:</label>
            <textarea name="content" id="content" required class="textarea-field"></textarea>
        
            <button type="submit" class="btn">Create Blog</button>
        </form>
    </div>
</body>
</html>
