body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #5cb85c;
  margin-bottom: 20px;
}

h4 {
  color: #333;
}

nav {
  background-color: #5cb85c;
  padding: 15px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button[type="submit"], button {
  width: 100%;
  padding: 12px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover, button:hover {
  background-color: #367636;
}

/* Styles for blog list */
ul {
  list-style: none;
  padding: 0;
}

.blog-list {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-item {
  display: flex;
  flex-direction: column; 
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.blog-item h2 {
  margin: 0;
  font-size: 24px;
  color: #5cb85c;
}

.blog-item p {
  font-size: 16px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
  background-color: #fff; 
  padding: 15px; 
  border-radius: 8px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.comment-item {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 15px;
}

.edit-comment-link {
  padding-left: 10px;
}

.delete-comment-link {
  padding-right: 10px;
}

button[type="submit"].small-btn,
button.small-btn {
    width: auto; 
    padding: 6px 12px; 
    font-size: 14px; 
    background-color: #5cb85c;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"].small-btn:hover,
button.small-btn:hover {
    background-color: #367636; 
}

.button-container {
  display: flex; 
  gap: 10px; 
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}